<div class="login-container">
    <div class="login-box">
        <h2>Đăng Nhập</h2>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <label>Email:</label>
            <input type="email" formControlName="email" required />

            <label>Password:</label>
            <input type="password" formControlName="password" required />

            <button type="submit" [disabled]="loginForm.invalid">Đăng Nhập</button>
        </form>
        <p>{{ message }}</p>
    </div>
</div>